[submodule "externals/BugTrap"]
	path = externals/BugTrap
	url = https://github.com/OpenXRay/BugTrap.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "externals/lzo"]
	path = externals/lzo
	url = https://github.com/alexgdi/lzo.git
[submodule "externals/FreeMagic"]
	path = externals/FreeMagic
	url = https://github.com/OpenXRay/FreeMagic.git
[submodule "externals/GameSpy"]
	path = externals/GameSpy
	url = https://github.com/OpenXRay/GameSpy.git
